{{#extend "layoutPartial"}}
{{#section 'head'}}
<link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="screen">
<link rel="stylesheet" href="assets/plugins/fancybox/source/jquery.fancybox.css">
{{/section}}
{{#content "mainbody"}}
<!-- Main background Image -->

<!-- Intro Section -->
<div class="fullscreenbanner-container">
	<div class="fullscreenbanner">
		<ul>
			<!-- SLIDE 1 -->
			<li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
			<!-- MAIN IMAGE 
			{{{imgLinkMaker 'assets/img/bkgd.jpg'}}}-->
			{{#if details.pictures}}
			{{{imgTagMakerSearchRes details.pictures.0.imagelocation details.pictures.0.name alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"}}}
			{{/if}}
			</li>
		</ul>
	</div>
</div>
<!-- End Intro Section -->
<!--=== Container Part ===-->
<div class="container">
	<div class="content">

		<div class="row margin-bottom-60">
			<div class="col-sm-8">
				<div class="headline"><h2>Venue Description</h2></div>
				<p>{{details.detaildescription}}</p>
			</div>
			<div class="col-sm-4">
				<div class="headline"><h2>Venue Details</h2></div>
				<ul class="list-unstyled project-details">
					<li><strong>Client:</strong> Web Design</li>
					<li><strong>Date:</strong> 17 October 2014</li>
					<li><strong>Categories:</strong> <a href="#">Web Design,</a> <a href="#">Graphic</a></li>
					<li><strong>Website:</strong> <a href="#">https://htmlstream.com</a></li>
				</ul>
			</div>
		</div>
    <!-- Two Columns -->
    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">More pics</h2>
            <p class="space-lg-hor">
	    Check out some of our other cool features and parties that other groups have enjoyed.
        </div>

    {{#each pictures}}
        <div class="row  margin-bottom-30">
	{{#each this}}
            <div class="col-sm-6 sm-margin-bottom-30">
		    {{{imgHrefMakerHostDetail this.imagelocation this.name}}}
			    <span>{{{imgTagMakerHostDetail this.imagelocation this.name}}}</span>
                </a>
            </div>
        {{/each}}
	</div>
    {{/each}}
    <!-- End Two Columns -->

	</div>
</div>
<!--=== End Container Part ===-->
{{/content}}
{{#content "scripts" mode="append"}}
<script src="assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/js/plugins/revolution-slider.js"></script>
<script type="text/javascript" src="assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="assets/js/plugins/fancy-box.js"></script>
<script>
	jQuery(document).ready(function() {
		App.init();
		App.initCounter();
		App.initParallaxBg();
		OwlCarousel.initOwlCarousel();
		RevolutionSlider.initRSfullScreen();
		FancyBox.initFancybox();
	});
</script>
{{/content}}
{{/extend}}
