{{#extend "layoutPartial"}}
{{#section 'head'}}
<link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="screen">
<link rel="stylesheet" href="assets/plugins/fancybox/source/jquery.fancybox.css">
{{/section}}
{{#content "mainbody"}}
<!-- Main background Image -->

<!-- Intro Section -->
<div class="fullscreenbanner-container">
	<div class="fullscreenbanner">
		<ul>
			<!-- SLIDE 1 -->
			<li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
			<!-- MAIN IMAGE 
			{{{imgLinkMaker 'assets/img/bkgd.jpg'}}}-->
			{{#if details.pictures}}
			{{{imgTagMakerSearchRes details.pictures.0.imagelocation details.pictures.0.name alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"}}}
			{{/if}}
			</li>
		</ul>
	</div>
</div>
<!-- End Intro Section -->
<!--=== Container Part ===-->
<div class="container">
	<div class="content">

		<div class="row margin-bottom-60">
			<div class="col-sm-8">
				<div class="headline"><h2>Venue Description</h2></div>
				<p>{{details.detaildescription}}</p>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="pull-right" style="margin-top:-88px;margin-bottom:40px;padding-left:5px;padding-right:5px;position:relative;background:rgba(60,63,64,0.9);color:#fff;z-index:1001"> <h2 style="color:white">{{details.hourlyrate}}$ per hour</h2> </div>
				</div>
				<div class="headline"><h2>Venue Details</h2></div>
				<div class="col-sm-6">
					<h3>Ameneties</h3>
					<ul class="list-unstyled project-details">
						{{#if details.ameneties.posteventcleaning}}
						<li><strong><i class="fa fa-check-circle-o"></i></strong> Post Event Cleaning </li>
						{{/if}}
						{{#if details.ameneties.coffee}}
						<li><strong><i class="fa fa-coffee"></i></strong> Coffee </li>
						{{/if}}
						{{#if details.ameneties.wifi}}
						<li><strong><i class="fa fa-wifi"></i></strong> Wifi </li>
						{{/if}}
					</ul>
				</div>
				<div class="col-sm-6">
					<h3>Can be used for </h3>
					<ul class="list-unstyled project-details">
						{{#if details.uses.corporate}}
						<li><strong><i class="fa fa-check-circle-o"></i></strong> Corporate Events</li>
						{{/if}}
						{{#if details.uses.kids}}
						<li><strong><i class="fa fa-check-circle-o"></i></strong> Kids Events</li>
						{{/if}}
						{{#if details.uses.party}}
						<li><strong><i class="fa fa-check-circle-o"></i></strong> Adult's Social</li>
						{{/if}}
					</ul>
				</div>
			</div>
		</div>
    <!-- Two Columns -->
    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">More pics</h2>
            <p class="space-lg-hor">
	    Check out some of our other cool features and parties that other groups have enjoyed.
        </div>

    {{#each pictures}}
        <div class="row  margin-bottom-30">
	{{#each this}}
            <div class="col-sm-6 sm-margin-bottom-30">
		    {{{imgHrefMakerHostDetail this.imagelocation this.name}}}
			    <span>{{{imgTagMakerHostDetail this.imagelocation this.name}}}</span>
                </a>
            </div>
        {{/each}}
	</div>
    {{/each}}
    <!-- End Two Columns -->

	</div>
</div>
<!--=== End Container Part ===-->
{{/content}}
{{#content "scripts" mode="append"}}
<script src="assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/js/plugins/revolution-slider.js"></script>
<script type="text/javascript" src="assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="assets/js/plugins/fancy-box.js"></script>
<script>
	jQuery(document).ready(function() {
		App.init();
		App.initCounter();
		App.initParallaxBg();
		OwlCarousel.initOwlCarousel();
		RevolutionSlider.initRSfullScreen();
		FancyBox.initFancybox();
	});
</script>
{{/content}}
{{/extend}}
